<p id="notice"><%= notice %></p>

<h1>Event Categories</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_categories.each do |event_category| %>
      <tr>
        <td><%= event_category.nombre %></td>
        <td><%= event_category.descripcion %></td>
        <td><%= link_to 'Show', event_category %></td>
        <td><%= link_to 'Edit', edit_event_category_path(event_category) %></td>
        <td><%= link_to 'Destroy', event_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Category', new_event_category_path %>
