<% content_for :features, "landing-page" %>
<% content_for :class, "landing-page" %>
<!-- Navbar will come here -->
<nav class="navbar navbar-transparent navbar-absolute">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://www.creative-tim.com">Easy Event</a>
      </div>

      <div class="collapse navbar-collapse" id="navigation-example">
	    	
        <ul class="nav navbar-nav navbar-right">
	        <li>
	          <%= link_to('PERFIL', profile_path, class: :"btn")  %>
	        </li>
	        <li>
	          <%= link_to('EXPLORAR', :anchor => "explorar", class: 'btn')  %>
	        </li>
	        <li>
				<%= link_to('CERRAR SESION', destroy_user_session_path, method: :delete, class: :"btn") %>  
			</li>
        </ul>
	   </div>
  </div>
</nav>

<!-- end navbar -->

<div class="wrapper">
	<div class="header header-filter" style="background-image: url('<%= image_path("/assets/imac.jpg") %>');">
	    <div class="container">
	      <div class="row">
	        <div class="col-md-12">
                    <h1 class="title">Gestiona tus eventos de manera cómoda y fácil donde sea que te encuentres.</h1>
	          <div class="col-md-10">
	            <h4>En Easy Event nos tomamos muy en serio la planificación adecuada y creemos que el éxito de un evento radica en una buena gestión de tus recursos. Por tanto te ofrecemos soluciones simples desde la comodidad de tu hogar.</h4>
	                    
	          </div>
	          <br />
	          <div class="col-md-6">
	            <a href="events/new" class="btn btn-danger btn-raised btn-lg">
	              <i></i> Cree un Evento
	            </a>
	          </div>          
	          
	        </div>
	     </div>
	</div>
</div>
	<!-- you can use the class main-raised if you want the main area to be as a page with shadows -->
	<div class="main">
		<div class="container">

			<!-- here you can add your content -->

		</div>
	</div>
</div>
<div class="main main-raised">
 	<div class="container">
 		<div class="section text-center">
      <div id="explorar">
      <h2 class="title">Descubre más eventos</h2>
      <div class="container">
        <%=render(partial: 'events/filters') %>
      </div>          
    </div>
      
    </div>
	</div>

		<div class="container">
			<!-- here you can add your content -->
			<% @eventos.each do |event| %>
				<div class="col-md-4 col-sm-4">
					<div class="card">
						<div class="thumbnail">
							<%= image_tag("suscripciones3.jpg", height: '50') %>
						</div>
						<div class="card-body">
							<a href="/landing">
								<h4><%= event.nombre %></h4>	
							</a>
							<p class="card-text">	<%= event.descripcion %></p>
						</div>
					</div>
					<br>	
				</div>
		      <tr>
		    <% end %>
			<br>
		</div>
		<br>
</div>