<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @event_type.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @event_type.descripcion %>
</p>

<%= link_to 'Edit', edit_event_type_path(@event_type) %> |
<%= link_to 'Back', event_types_path %>
