<!DOCTYPE html>
<html>
  <head>
    <title>EasyEvent</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'jquery', 'rails.validations', 'rails.validations.custom' -%>
  </head>
  
    	
    	<%= yield %>
	

  </body>
</html>
